#app{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.heading {
    height: 1px;
    border: none;
    background-color: #F94C61;
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 36px;
}

.list {
    background-color: lightyellow;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 0px 40px 40px 40px;
}

ul,li,p,button{
    font-family: 'Montserrat', sans-serif;
}

ul {
    padding-left:20px;
}

li {
    text-align: left;
}

.item {
    height: 1px;
    border: none;
    background-color: lightblue;
}

.delete {
    margin: 0 10px 3px 10px;
    border-radius: 5px;
    border-style: outset;
    border-width: 1px;
    float:right;
}

.delete:hover {
    background: lightgray;
}

input {
    border-radius: 5px;
    border-color: lightgray;
    margin-right: 5px;
}

.add {
    border-radius: 5px;
    border-width: 1px;
}

.add:hover {
    background: lightgray;
}
